* {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#showvirus1{
  width:50px;
  height: 50px;
  background: url("heart1.jpg") no-repeat;
}
#showvirus2{
  width:50px;
  height: 50px;
  background: url("heart2.jpg") no-repeat;
}
#showvirus3{
  width:50px;
  height: 50px;
  background: url("heart3.jpg") no-repeat;
}
